{
  "extends": ["airbnb","airbnb/hooks"],
  "globals": {
    "addEventListener": true,
    "fetch": true,
    "navigator": true,
    "page": true,
    "document": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "sort-keys": ["error", "asc", {
      "caseSensitive": false,
      "natural": false
    }],
    "react/jsx-props-no-spreading": "off",
    "arrow-parens": "off",
  }
}
