<div class="embeded-mirador-container">
  <%= react_component(
        "Viewer",
        {
          config: { id: "m-#{SecureRandom.hex}" }.deep_merge(@workspace.embedded_workspace_config || {}),
          state: @workspace.state
        }
      )
  %>
</div>
