<h1>New Workspace</h1>

<%= form_with(model: @workspace, url: project_workspaces_path(@project)) do |form| %>
  <%= render 'form', workspace: @workspace, form: form %>
<% end %>

<%= link_to 'Back', project_workspaces_path(@workspace.project) %>
