<p id="notice"><%= notice %></p>

<div class="mirador-container">

  <%= react_component(
        "Viewer",
        {
          config: { id: "m-#{SecureRandom.hex}" }.deep_merge(@workspace.state&.dig('config') || {}),
          state: @workspace.state
        }
      )
  %>
</div>

<%= link_to 'Edit', edit_workspace_path(@workspace) %> |
<%= link_to 'Back', @workspace.resource.parent %>
