<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') %>
<% end %>

<h1>Dashboard</h1>

<% if @favorites.any? %>
  <h2 class="h3 mt-4 py-2 border-top">Favorite workspaces</h2>
  <div class="row workspace-cards g-4">
    <%= render partial: 'workspaces/card', collection: @favorites, as: :workspace %>
  </div>
<% end %>

<h2 class="h3 mt-5 py-2 border-top">Recent workspace activity</h2>
<div class="row workspace-cards g-4">
  <%= render partial: 'workspaces/card', collection: @workspaces, as: :workspace %>
</div>
