<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') if current_user %>
<% end %>

<div class="container">
  <h2>Recently updated workspaces</h2>
  <div class="row workspace-cards g-4 flex-wrap align-self-stretch">
    <%= render collection: @workspaces, partial: 'workspaces/card', as: :workspace %>
  </div>
</div>
