<p id="notice"><%= notice %></p>

<h1 class="ms-4">Projects</h1>
<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') %>
<% end %>

<% content_for(:top_level_nav) do %>
  <%= render(partial: 'layouts/top_level_nav') %>
<% end %>

<%= render @projects %>
