<table class="resources-list table table-borderless">
  <thead>
    <tr>
      <th scope="col"><span class="visually-hidden">Thumbnail</span></th>
      <th scope="col">Title</th>
      <th scope="col" class="text-end">Items</th>
      <!-- <th scope="col">Provider</th> -->
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <%= render partial: 'resource', collection: resources %>
</table>
