<div class="p-3 bg-white" style="width: 280px;">
  <div class="btn-group mb-3">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      New
    </button>
    <ul class="dropdown-menu">
      <li>
        <% if @resource %>
          <%= link_to 'New project', new_contained_resource_path(@resource), class: 'dropdown-item' %>
        <% else %>
          <%= link_to 'New project', new_resource_path, class: 'dropdown-item' %>
        <% end %>
      </li>
      <% if @resource %>
        <li>
          <%= link_to 'New workspace', new_resource_workspace_path(@resource), class: 'dropdown-item' %>
        </li>
      <% end %>
    </ul>
  </div>
  <a href="/" class="d-flex pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">My Workbench</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <% @resources.each do |resource| %>
          <%= render 'resource_tree', resource: resource, children: resource.descendants.folders.arrange %>
        <% end %>
        </ul>
      </div>
    </li>
  </ul>
</div>
