<h1>Editing Resource</h1>

<%= form_with(model: @resource) do |form| %>
  <%= render 'form', workspace: @resource, form: form %>
<% end %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', project_resources_path(@resource.project) %>
