<% content_for(:sidebar) do %>
  <%= render(partial: 'layouts/sidebar') %>
<% end %>

<% content_for(:top_level_nav) do %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to @project.title, @project, class: "nav-link fw-bold #{'active' if current_page? @project }", aria: { current: ('page' if current_page? @project) } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Workspaces', project_workspaces_path(@project), class: "nav-link  #{'active' if current_page? project_workspaces_path(@project) }", aria: { current: ('page' if current_page? project_workspaces_path(@project)) } %>
    </li>
  </ul>
<% end %>

<%= render template: "layouts/application" %>
